$primary:                         #008bb8;
$primary-hover:                   #007da5;

$white:                           #fff;
$black:                           #000;

$black-light:                     #212529;

$gray:                            #e5e5e5;
$gray-hover:                      #cecece;
$gray-light:                      #f8f8f8;
$gray-light-hover:                #d9d9d9;
$gray-medium:                     #a5a5a5;
$gray-medium-hover:               #848484;
$gray-dark:                       #7f7f7f;
$gray-dark-hover:                 #727272;

$green:                           #27ae60;
$green-hover:                     #239c56;

$red:                             #c0392b;
$red-hover:                       #ac3326;

$orange:                          #f39c12;
$orange-hover:                    #da8c10;

$blue-light:                      #d1ecf1;
$blue-light-hover:                #bcd4d8;
$blue-light-text:                 #0c5460;

$aggrid-header-title:             rgba(0, 0, 0, 0.54);
$aggrid-header-title-inactive:    rgba(0, 0, 0, 0.35);
$aggrid-header-bg:                #f5f7f7;
$aggrid-header-border:            #e5e5e5;
