@import "~src/assets/scss/constants";
@import "~src/assets/scss/mixins";

.dashboard-content {
  position: relative;

  .info-box {
    box-sizing: border-box;

    color: $aggrid-header-title;
    background-color: $aggrid-header-bg;
    border: 1px solid $aggrid-header-border;
    border-bottom: 0;

    .date-info, .btn-link {
      font-size: 12px;
      line-height: 14px;
      padding: 12px 10px;
      font-weight: 800;
    }

    .btn-link {
      color: $aggrid-header-title-inactive;
      border: none;
      margin: 0;

      &:hover, &:focus, &.active {
        color: $aggrid-header-title;
        text-decoration: none;
      }
    }

    .pagination {
      .page-item {
        float: left;

        font-size: 12px;
        line-height: 14px;
        padding: 12px 10px;
        font-weight: 800;

        &:hover:not(.page-current) {
          cursor: pointer;
          color: $black;
        }

        &.disabled, &.disabled:hover {
          color: $gray;
          cursor: not-allowed;
        }
      }

    }
  }
}

@media (min-width: $breakpoint-desktop + 1) {
  .dashboard-content {
    .ag-grid {
      height: calc(100% - 77px);
    }
  }

  .dashboard-content-left, .dashboard-content-right {
    height: 100%;
  }
}

@media (min-width: $breakpoint-tablet-landscape-up) and (max-width: $breakpoint-desktop) {
  .dashboard-content {
    overflow-y: scroll;

    .ag-grid {
      height: calc(100% - 77px);
    }
  }

  .dashboard-content-left, .dashboard-content-right {
    height: 50%;
  }
}

@media (max-width: $breakpoint-tablet-landscape-up) {
  .dashboard-content {
    overflow-y: scroll;

    .ag-grid {
      height: 400px;
    }
  }

  .dashboard-content-left, .dashboard-content-right {
    height: auto;
  }
}
