<div class="container-fluid dashboard-content h-100">
  <div class="row h-100">
    <div class="col-12 col-md-4 dashboard-content-left h-100 p-0">
      <ag-grid-angular
        class="ag-grid ag-theme-balham w-100 h-100 p-0"
        [gridOptions]="gridOptions"
        [overlayNoRowsTemplate]="overlayNoRowsTemplate"
        (rowClicked)="onRowClicked($event)"
        (gridReady)="onGridReady($event)" >
      </ag-grid-angular>
    </div>
    <div class="col-12 col-md-8 dashboard-content-right h-100 p-4">
      <app-trip-information [tripInfo]="activeTrip">
      </app-trip-information>
    </div>
  </div>
</div>

<ng-template #nolocations>
  <div class="alert alert-info" role="alert" >
    <p><i class="fas fa-magic mr-2"></i> Geen trips gevonden</p>
  </div>
</ng-template>
