<div class="container-fluid dashboard-content h-100">
  <div class="row h-100">
    <div class="col-12 col-lg-12 col-xl-5 dashboard-content-left p-0">
      <div class="info-box">
        <nav class="d-flex justify-content-md-end justify-content-begin" aria-label="pagination">
          <div class="date-info" title="Actieve week">
            <i class="fas fa-calendar-week mr-2"></i> {{ currentWeekStartDate | date:"dd-MM-yyyy" }} tot {{ currentWeekEndDate | date:"dd-MM-yyyy" }}
          </div>

          <ul class="pagination ml-auto mb-0">
            <li class="page-item page-today mr-4" [class.disabled]="isCurrentWeek || isLoading" (click)="changeWeek(0)">
              <i class="fas fa-calendar mr-1"></i> Huidige week
            </li>
            <li class="page-item page-prev" [class.disabled]="isLoading" (click)="changeWeek(-1)" title="Vorige week">
              <i class="fas fa-chevron-left"></i>
            </li>
            <li class="page-item page-current">
              Week {{ currentWeekNumber }}
            </li>
            <li class="page-item page-next" [class.disabled]="!weekHasNext || isLoading" (click)="changeWeek(1)" title="Volgende week">
              <i class="fas fa-chevron-right"></i>
            </li>
          </ul>
        </nav>

        <div
          class="custom-filters d-flex w-100"
          aria-label="pagination"
          [class.error]="isError">
          <ng-container *ngIf="!isError; else retrieveError">
            <div class="btn-group" role="group">
              <button
                type="button" class="btn btn-link"
                [class.active]="activeFilter === null"
                [class.disabled]="isLoading"
                (click)="toggleFilter(null)">
                Alle ritten
              </button>
              <button
                type="button" class="btn btn-link"
                [class.active]="activeFilter === 'checked'"
                [class.disabled]="isLoading"
                (click)="toggleFilter('checked')">
                Nog te beoordelen ritten
              </button>
              <button
                type="button" class="btn btn-link"
                [class.active]="activeFilter === 'personal'"
                [class.disabled]="isLoading"
                (click)="toggleFilter('personal')">
                Privéritten
              </button>
              <button
                type="button" class="btn btn-link"
                [class.active]="activeFilter === 'work'"
                [class.disabled]="isLoading"
                (click)="toggleFilter('work')">
                Zakelijke ritten
              </button>
            </div>

            <div class="btn-group ml-auto" ngbDropdown role="group">
              <button
                type="button"
                class="btn btn-link dropdown-toggle-split"
                title="Ritten exporteren"
                placement="auto"
                ngbTooltip="Ritten exporteren"
                [class.disabled]="isLoading"
                ngbDropdownToggle>
                <i class="fas fa-cloud-download-alt"></i>
              </button>
              <div class="dropdown-menu" ngbDropdownMenu>
                <button
                  type="button"
                  class="btn-sm"
                  (click)="exportTrips('text/csv')"
                  ngbDropdownItem >
                  Exporteren als CSV
                </button>
                <button
                  type="button"
                  class="btn-sm"
                  (click)="exportTrips('application/vnd.openxmlformats-officedocument.spreadsheetml.sheet')"
                  ngbDropdownItem >
                  Exporteren als Excel
                </button>
                <span class="dropdown-item-text text-sm mt-2 pt-2 text-muted border-top">
                  De exports bevatten alle ritten van de huidige week
                </span>
              </div>
            </div>
          </ng-container>
        </div>
      </div>

      <ag-grid-angular
        class="ag-grid ag-theme-balham w-100 p-0"
        [gridOptions]="gridOptions"
        [overlayNoRowsTemplate]="overlayNoRowsTemplate"
        (selectionChanged)="onSelectionChanged($event)"
        (filterChanged)="onFilterChanged()"
        (gridReady)="onGridReady($event)"
        (gridSizeChanged)="onGridSizeChanged($event)" >
      </ag-grid-angular>
    </div>
    <div class="col-12 col-lg-12 col-xl-7 dashboard-content-right">
      <app-trip-information
        [tripInfo]="activeTrip"
        [indexInfo]="activeIndexInfo"
        (indexChange)="onIndexChange($event)">
      </app-trip-information>
    </div>
  </div>
</div>

<ng-template #retrieveError>
  <div class="alert alert-danger alert-sm m-0" role="alert">
    <p><i class="fas fa-exclamation-circle"></i> Er is een fout opgetreden, probeer het later nog een keer</p>
  </div>
</ng-template>
