<nav class="sidenav" [class.no-login]="!isLoggedIn">
  <div class="brand">
    <img src="/assets/images/volkerwesselstelecom_favicon.png" alt="VolkerWessels Telecom logo">
    <span class="opacity">Autogebruik</span>
  </div>

  <ng-container *ngIf="isLoggedIn">
    <ul class="nav navbar-nav">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a routerLink="home">
          <i class="fas fa-compass"></i>
          <span class="opacity">Dashboard</span>
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a routerLink="veelplegers">
          <i class="fas fa-flag"></i>
          <span class="opacity">Veelplegers</span>
        </a>
      </li>
    </ul>

    <ul class="nav navbar-nav align-bottom">
      <li class="nav-item">
        <a (click)="sendFeedback()">
          <i class="far fa-comment-dots"></i>
          <span class="opacity">Feedback</span>
        </a>
      </li>
      <li class="nav-item">
        <a (click)="logout()">
          <i class="fas fa-sign-out-alt"></i>
          <span class="opacity">Uitloggen</span>
        </a>
      </li>
    </ul>
  </ng-container>
</nav>
