@import "~src/assets/scss/constants";
@import "~src/assets/scss/mixins";

nav.sidenav {
  height: 100%;
  width: 75px;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: $white;
  overflow-x: hidden;
  border-right: 1px solid transparent;

  -webkit-transition: width .2s ease-in-out, box-shadow .2s ease-in;
  -moz-transition: width .2s ease-in-out, box-shadow .2s ease-in;
  -o-transition: width .2s ease-in-out, box-shadow .2s ease-in;
  transition: width .2s ease-in-out, box-shadow .2s ease-in;

  .brand {
    padding: 20px 0;
    width: 200px;

    img {
      width: 40px;
      height: auto;
      margin-left: 15px;
    }

    span {
      margin-left: 10px;
      font-weight: 800;
      font-size: .9rem;
      text-transform: uppercase;
      color: $primary;
    }
  }

  ul.nav {
    margin-top: 50px;
    width: 200px;

    li {
      width: 100%;
      padding: 10px;
      padding-left: 25px;
      margin-bottom: 5px;
      box-sizing: border-box;
      border-right: 4px solid transparent;
      border-left: 4px solid transparent;
      background-color: $white;

      -webkit-transition: background-color .2s ease-in;
      -moz-transition: background-color .2s ease-in;
      -o-transition: background-color .2s ease-in;
      transition: background-color .2s ease-in;

      a {
        color: $primary;

        -webkit-transition: color .2s ease-in;
        -moz-transition: color .2s ease-in;
        -o-transition: color .2s ease-in;
        transition: color .2s ease-in;
      }

      span {
        margin-left: 15px;
      }

      &:hover {
        background-color: $primary;
        cursor: pointer;
        a {
          color: $white;
          text-decoration: none;
        }
      }
      &.active {
        border-left-color: $primary;
      }
    }
  }

  .align-bottom {
    position: absolute;
    bottom: 0;
  }

  .opacity {
    opacity: 0;

    -webkit-transition: opacity .2s ease-in;
    -moz-transition: opacity .2s ease-in;
    -o-transition: opacity .2s ease-in;
    transition: opacity .2s ease-in;
  }

  &:hover:not(.no-login) {
    width: 200px;
    border-right-color: $gray;
    box-shadow: 0 2px 4px 0 rgba(127, 127, 127, .2);

    .opacity {
      opacity: 100;
    }
  }
}

@media screen and (max-height: 450px) {
  nav {
    padding-top: 15px;
    a {
      font-size: 18px;
    }
  }
}
