<ng-container *ngIf="tripInfo; else notrip">
  <div class="row trip-info-navbar py-3">
    <div class="col-12">
      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group btn-group-toggle" role="group">
          <label
            class="btn btn-secondary btn-sm"
            title="Vorige rit"
            [class.disabled]="indexInfo.current === 0"
            (click)="navigatePage(-1)">
            <i class="fas fa-chevron-left"></i>
          </label>
          <label
            class="btn btn-secondary btn-sm"
            title="Volgende rit"
            [class.disabled]="indexInfo.current === indexInfo.max"
            (click)="navigatePage(1)">
            <i class="fas fa-chevron-right"></i>
          </label>
        </div>

        <div *ngIf="canBeChecked" class="btn-group btn-group-toggle ml-4" role="group">
          <button
            class="btn btn-success btn-sm m-0 px-3"
            type="button"
            title="Goedkeuren"
            (click)="openVerticallyCentered(content, true)">
            <i class="fas fa-check"></i>
          </button>
          <button
            class="btn btn-danger btn-sm m-0 px-3"
            type="button"
            title="Afkeuren"
            (click)="openVerticallyCentered(content, false)">
            <i class="fas fa-times"></i>
          </button>
        </div>

        <div *ngIf="failedResponse" class="alert alert-danger m-0 ml-4" role="alert">
          <small>Er is iets fout gegaan tijdens het beoordelen, probeer het later nog een keer.</small>
        </div>

        <ng-container *ngIf="this.getNested(this.tripInfo, 'checking_info', 'checked')">
          <span
            class="badge"
            [class.badge-success]="this.tripInfo.checking_info.correct"
            [class.badge-danger]="!this.tripInfo.checking_info.correct">
            {{ this.tripInfo.checking_info.reason }}
          </span>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="row trip-info py-1 d-block d-xl-flex">
    <div class="col-12 col-md-6 col-xl-12 float-left float-xl-none">
      <div class="card trip-info-map">
        <div class="card-body p-0">
          <div
            leaflet
            [leafletOptions]="mapOptions"
            [leafletLayers]="mapLayers"
            (leafletMapReady)="onMapReady($event)">
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-xl-4 float-left float-xl-none">
      <div class="card trip-info-content">
        <div class="card-body">
          <small class="form-text text-muted">
            Starttijd
            <button type="button" class="btn btn-tooltip text-muted" placement="right" ngbTooltip="De daadwerkelijke tijd kan tot 5 minuten afwijken">
              <i class="fas fa-info-circle"></i>
            </button>
          </small>
          <h3>{{tripInfo.started_at | date:"HH:mm" || ''}}</h3>
          <h5>{{tripInfo.started_at | date:"EEEE d MMMM yyyy" || 'N/B'}}</h5>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-xl-4 float-left float-xl-none">
      <div class="card trip-info-content">
        <div class="card-body">
          <small class="form-text text-muted">
            Eindtijd
            <button type="button" class="btn btn-tooltip text-muted" placement="right" ngbTooltip="De daadwerkelijke tijd kan tot 5 minuten afwijken">
              <i class="fas fa-info-circle"></i>
            </button>
          </small>
          <h3>{{tripInfo.ended_at | date:"HH:mm" || ''}}</h3>
          <h5>{{tripInfo.ended_at | date:"EEEE d MMMM yyyy" || 'N/B'}}</h5>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-xl-4 float-left float-xl-none">
      <div class="card trip-info-content">
        <div class="card-body">
          <small class="form-text text-muted">Kenteken</small>
          <span class="license-plate license-nl big">{{ tripInfo.license | licensePlate }}</span>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-xl-4 float-left float-xl-none">
      <div class="card trip-info-content">
        <div class="card-body">
          <small class="form-text text-muted">Bestuurder</small>
          <h3>{{ driverName }}</h3>
          <h5>Functie: {{ driverFunction }}</h5>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #notrip>
  <div class="col-12 p-0">
    <div class="alert alert-primary my-4" role="alert">
      <strong><i class="fas fa-route mr-2"></i></strong> Selecteer een rit om deze te bekijken
    </div>
  </div>
</ng-template>
