<ng-container *ngIf="tripInfo; else notrip">
  <div class="row trip-info-navbar py-3">
    <div class="col-12">
      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group btn-group-toggle" role="group">
          <label
            class="btn btn-secondary btn-sm"
            title="Vorige rit"
            placement="auto"
            ngbTooltip="Vorige rit"
            [class.disabled]="indexInfo.current === 0"
            (click)="navigatePage(-1)">
            <i class="fas fa-chevron-left"></i>
          </label>
          <label
            class="btn btn-secondary btn-sm"
            title="Volgende rit"
            placement="auto"
            ngbTooltip="Volgende rit"
            [class.disabled]="indexInfo.current === indexInfo.max || indexInfo.max === 1"
            (click)="navigatePage(1)">
            <i class="fas fa-chevron-right"></i>
          </label>
        </div>

        <div *ngIf="!isChecked && isManager" class="btn-group btn-group-toggle ml-4" role="group">
          <button
            class="btn btn-success btn-sm m-0 px-3"
            type="button"
            title="Markeren als zakelijke rit"
            placement="auto"
            ngbTooltip="Markeren als zakelijke rit"
            (click)="openModalApprove('work', true)">
            <i class="fas fa-briefcase"></i>
          </button>
          <button
            class="btn btn-danger btn-sm m-0 px-3"
            type="button"
            title="Markeren als privérit"
            placement="auto"
            ngbTooltip="Markeren als privérit"
            (click)="openModalApprove('personal', true)">
            <i class="fas fa-user"></i>
          </button>
        </div>

        <ng-container *ngIf="isChecked">
          <div class="btn-group ml-4">
            <button
              type="button" class="btn btn-sm description"
              [class.btn-success]="(this.tripInfo.checking_info.trip_kind | tripKind:'boolean':'work')"
              [class.btn-danger]="(this.tripInfo.checking_info.trip_kind | tripKind:'boolean':'personal')"
              placement="bottom"
              ngbTooltip="Beschrijving: {{ this.tripInfo.checking_info.description || 'geen' }}"
              tooltipClass="tooltip-description">
              {{ this.tripInfo.checking_info.trip_kind === 'work' ? 'Zakelijke rit' : 'Privérit' }}
              <i *ngIf="this.tripInfo.checking_info.description" class="fas fa-comment ml-2"></i>
            </button>
            <div *ngIf="!isExported && isManager" class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
              <button
                type="button"
                class="btn btn-sm dropdown-toggle-split"
                title="Bewerken"
                [class.btn-outline-success]="(this.tripInfo.checking_info.trip_kind | tripKind:'boolean':'work')"
                [class.btn-outline-danger]="(this.tripInfo.checking_info.trip_kind | tripKind:'boolean':'personal')"
                placement="auto"
                ngbTooltip="Beoordeling bewerken"
                ngbDropdownToggle>
                <i class="fas fa-edit mr-2"></i>
              </button>
              <div class="dropdown-menu" ngbDropdownMenu>
                <button
                  type="button"
                  class="btn-sm"
                  (click)="openModalApprove(this.tripInfo.checking_info.trip_kind, false)"
                  ngbDropdownItem >
                  Opmerking wijzigen
                </button>
                <button
                  type="button"
                  class="btn-sm"
                  (click)="openModalApprove((this.tripInfo.checking_info.trip_kind === 'work' ? 'personal' : 'work'), true)"
                  ngbDropdownItem >
                  Markeren als {{ this.tripInfo.checking_info.trip_kind === 'work' ? 'privérit' : 'zakelijke rit' }}
                </button>
              </div>
            </div>
          </div>
        </ng-container>

        <button
          class="btn btn-outline-info btn-sm ml-auto"
          type="button"
          title="Bekijk eerdere wijzigingen"
          (click)="openModalAudit()"
          placement="auto"
          ngbTooltip="Bekijk eerdere wijzigingen">
          <i class="fas fa-history"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="row trip-info py-1 d-block d-xl-flex">
    <div class="col-12 col-md-6 col-xl-12 float-left float-xl-none">
      <div class="card trip-info-map">
        <div class="card-body p-0">
          <div
            leaflet
            [leafletOptions]="mapOptions"
            [leafletLayers]="mapLayers"
            (leafletMapReady)="onMapReady($event)">
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-xl-4 float-left float-xl-none">
      <div class="card trip-info-content">
        <div class="card-body">
          <small class="form-text text-muted">
            Starttijd
            <button type="button" class="btn btn-tooltip text-muted" placement="right" ngbTooltip="De daadwerkelijke tijd kan tot 5 minuten afwijken">
              <i class="fas fa-info-circle"></i>
            </button>
          </small>
          <h3>{{tripInfo.started_at | date:"HH:mm" || ''}}</h3>
          <h5>{{tripInfo.started_at | date:"EEEE d MMMM yyyy" || 'N/B'}}</h5>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-xl-4 float-left float-xl-none">
      <div class="card trip-info-content">
        <div class="card-body">
          <small class="form-text text-muted">
            Eindtijd
            <button type="button" class="btn btn-tooltip text-muted" placement="right" ngbTooltip="De daadwerkelijke tijd kan tot 5 minuten afwijken">
              <i class="fas fa-info-circle"></i>
            </button>
          </small>
          <h3>{{tripInfo.ended_at | date:"HH:mm" || ''}}</h3>
          <h5>{{tripInfo.ended_at | date:"EEEE d MMMM yyyy" || 'N/B'}}</h5>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-xl-4 float-left float-xl-none">
      <div class="card trip-info-content">
        <div class="card-body">
          <small class="form-text text-muted">Kenteken</small>
          <span class="license-plate license-nl big">{{ tripInfo.license | licensePlate }}</span>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-xl-4 float-left float-xl-none">
      <div class="card trip-info-content">
        <div class="card-body">
          <small class="form-text text-muted">Bestuurder</small>
          <h3>{{ driverName }}</h3>
          <h5>{{ driverDepartment }}</h5>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-xl-4 float-left float-xl-none">
      <div class="card trip-info-content">
        <div class="card-body">
          <small class="form-text text-muted">Voertuig</small>
          <h3>{{ driverCarName }}</h3>
          <h5>{{ driverCarModel }}</h5>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #notrip>
  <div class="col-12 p-0">
    <div class="alert alert-primary my-4" role="alert">
      <strong><i class="fas fa-route mr-2"></i></strong> Selecteer een rit om deze te bekijken
    </div>
  </div>
</ng-template>
