<div class="audit-modal">
  <div class="modal-header">
    <h4 class="modal-title">
      <i class="fas fa-history mr-2"></i> Eerdere wijzigingen
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <i class="fas fa-times"></i>
    </button>
  </div>
  <div class="modal-body">
    <ng-container *ngIf="auditLogging.length > 0; else nologs">
      <div *ngFor="let log of auditLogging" class="card mb-3">
        <div class="card-header text-uppercase px-3">
          <strong><samp>{{ log.user || 'Onbekende gebruiker' }}</samp></strong>
        </div>
        <div class="card-body px-3 py-2">
          <table *ngIf="!this.isExportLog(log); else exportlog" class="table table-sm m-0">
            <thead>
              <tr>
              <th scope="col"></th>
              <th scope="col"><small>Oude waarde</small></th>
              <th scope="col"><small>Nieuwe waarde</small></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Rit soort</th>
                <td>{{ ((log.attributes_changed | nestedValue:'checking_info':'old':'trip_kind') | tripKind:'string') || '-' }}</td>
                <td>{{ ((log.attributes_changed | nestedValue:'checking_info':'new':'trip_kind') | tripKind:'string') || '-' }}</td>
              </tr>
              <tr>
                <th scope="row">Beschrijving</th>
                <td>{{ (log.attributes_changed | nestedValue:'checking_info':'old':'description') || '-' }}</td>
                <td>{{ (log.attributes_changed | nestedValue:'checking_info':'new':'description') || '-' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer px-3">
          <small class="text-muted">{{ log.timestamp | date:"dd-MM-yyyy HH:mm" }}</small>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #exportlog>
  <p><i class="fas fa-file-export mr-2"></i> Geëxporteerd</p>
</ng-template>

<ng-template #nologs>
  <div *ngIf="!isLoading" class="alert alert-info" role="alert">
    Geen eerdere wijzigingen gevonden
  </div>
  <div *ngIf="isLoading" class="alert alert-warning" role="alert">
    <i class="fas fa-spinner fa-spin mr-1"></i> De eerdere wijzigingen wordt opgevraagd
  </div>
</ng-template>
