<div class="container app-login">
  <div class="row justify-content-md-center">
    <div class="col-12 col-md-4 col-lg-3 icon-box">
      <div class="jumbotron">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-unlock-alt fa-stack-1x fa-inverse"></i>
        </span>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="jumbotron">
        <h1>Inloggen!</h1>
        <p class="lead">U wordt doorgestuurd naar de inlog pagina. Mocht dit niet werken, klik hier onder om in te loggen.</p>
        <button
          (click)="this.authService.login()"
          type="button"
          class="btn btn-primary mt-4" >
          Inloggen
        </button>
      </div>
    </div>
  </div>
</div>
