@import url("https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i");

@import "~bootstrap/dist/css/bootstrap.css";

@import "~src/assets/scss/constants";
@import "~src/assets/scss/mixins";

@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

$fa-font-path: "~src/assets/fonts/fontawesome";
@import "~src/assets/scss/fontawesome/fontawesome.scss";
@import "~src/assets/scss/fontawesome/regular.scss";
@import "~src/assets/scss/fontawesome/solid.scss";
@import "~src/assets/scss/fontawesome/brands.scss";

@font-face {
  font-family: "license-plate";
  src: url('assets/fonts/license-plate/license-plate.eot');
  src: url('assets/fonts/license-plate/license-plate.eot?#iefix') format("embedded-opentype"),
    url('assets/fonts/license-plate/license-plate.woff2') format("woff2"),
    url('assets/fonts/license-plate/license-plate.woff') format("woff"),
    url('assets/fonts/license-plate/license-plate.ttf') format("ttf");
  font-style: normal;
  font-weight: 300;
}


body {
  margin: 0;
  height: 100vh;
  min-height: 750px;
  position: relative;

  font-family: 'Poppins', sans-serif !important;

  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  font-size: 35px;
  margin: 0;
  font-weight: 800;
  color: $primary;
  text-transform: uppercase;
}

h2 {
  font-size: 30px;
  margin: 0;
  font-weight: 700;
  color: $primary;
}

h3 {
  font-size: 25px;
  margin: 0;
  font-weight: 800;
  color: $primary;
}

h4 {
  font-size: 20px;
  margin: 0;
  text-transform: uppercase;
  font-weight: 500;
  color: $primary;
}

h5 {
  font-size: 12.5px;
  margin: 0;
  text-transform: uppercase;
  font-weight: 600;
  color: $primary;
}

p {
  margin: 0;
}

.app-body {
  margin-left: 75px;
  position: relative;
  height: 100%;
  box-sizing: border-box;

  background-color: $gray-light;
}

.ag-theme-balham {
  --ag-border-color: #e5e5e5;

  .ag-row:hover {
    cursor: pointer;
  }
}

.license-plate {
  display: flex;
  align-items: center;
  border: 1px solid #000;
  border-radius: 3px;
  box-sizing: border-box;
  height: 24px;
  font-family: 'License Plate', Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  width: max-content;
  padding: 2px 5px 2px 12.5px;
  text-transform: uppercase;
  -webkit-transition: background-color .3s ease, text-shadow .3s ease;
  transition: background-color .3s ease, text-shadow .3s ease;

  &.big {
    height: 35px;
    font-size: 30px;
    padding: 15px 15px 15px 25px;
  }

  &:focus{
    outline: 0;
  }

  &.license-nl{
    background: #f2ba00 url('assets/images/license-plate-nl.svg') no-repeat top left;

    span {
      color: #222 !important;
      text-shadow: 1px 1px #ffe153 !important;
      display: inline !important;
      background-color: rgba(0, 0, 0, 0) !important;
      padding: 0 !important;
      margin: 5px !important;

      &:focus {
        text-shadow: 0 0 #ffe153 !important;
      }
    }

    &:focus {
      background-color: #ffc70d;
    }
  }
}
